/* colors */
$primary-brand: #2196f3;
$primary-brand-dark: #1769aa;
$primary-brand-light: #4dabf5;
$secondary-brand: #3d5afe;
$secondary-brand-dark: #2a3eb1;
$secondary-brand-light: #637bfe;

/* text colors */
$primary-text-color: black;
$secondary-text-color: white;
